@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background: #FAFAFA;
}

.box-shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@layer utilities {
  .center {
    @apply flex justify-center items-center;
  }
  .col-center {
    @apply flex flex-col justify-center items-center;
  }
  .start {
    @apply flex justify-start items-center;
  }
  .col-start {
    @apply flex flex-col justify-start items-start;
  }
  .between {
    @apply flex justify-between items-center;
  }

  .form-group {
    @apply w-full flex flex-col items-start gap-3;
  }
  .form-input {
    @apply w-full py-3 px-3 bg-gray-100 text-gray-500 placeholder:text-gray-300 rounded-lg outline-none hover:outline-none hover:border-gray-400;
  }
}
